
*{
    box-sizing: border-box; 
    overflow-x: hidden;
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
}

/* hide scrollbar but still scrollable in x directions */
::-webkit-scrollbar{
    display: none;
}

/* removing default 8px padding */
html,body{
    margin: 0;
    padding: 0;
    height:100%;
}

.backButton{
    background: white;

    position: fixed;
    left:3rem;
    width:2rem;
    height: 2rem;
    padding:2px;

    border-radius: 100%;

    z-index: 20;
    transition: all 0.2s;
}

.backButton:hover{
    box-shadow: 0px 0px 70px 5px black;
}

.hamburger:hover{
    box-shadow: 0px 0px 100px 5px black;
}

.backButton>.top{
    transform:translateX(-4px) translateY(2px) rotate(-45deg);
}
.backButton>.middle{
  display: none;
}

.backButton>.bottom{
    transform:translateX(-4px) translateY(10px) rotate(45deg);
}

.heading{
    margin-left: 3rem;
}
/* header
flex - align items in extreme corner */
.header{    
    background: rgb(36, 123, 149);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;

    text-transform: uppercase;
}

/* hamburger menu icon
position - fixed to top right 
and rounded corner*/
.hamburger{
    background: white;

    position: fixed;
    right:3rem;
    width:2rem;
    padding:2px;

    border-radius: 10%;

    z-index: 20;
}

/* hamburger menu spinners 
all transition takes 0.5 sec */
.spinner{
    margin:0.2rem;
    height: 0.2rem;
    background-color: black;
    transition: all 0.5s;
}

/* Spinning transformation on toggle */
#sidebarMenuToggle:checked ~ .hamburger>.top{
    transform:  translateY(0.2rem) rotate(495deg);
}

#sidebarMenuToggle:checked ~ .hamburger>.bottom{
    transform:  translateY(-0.2rem) rotate(-495deg);
}
#sidebarMenuToggle:checked ~ .hamburger>.middle{
    display: none;
}

/* sidebar menu 
position fixed to right covers full length 
over container but behind hamburger toggle
hidden in starting 
all transition takes 0.5s*/
#sidebarMenu{
    background: rgb(211, 47, 74);
    
    position: fixed;    top:0;  bottom:0;   right: 0;
    padding-top: 3rem;    

    z-index: 10;

    transform: translateX(30rem);
    transition: transform 0.5s ease-in-out;
}

/* on clicking the hamburger menu.
It toggle the checkbox which activates the sidebar menu */
#sidebarMenuToggle:checked ~ #sidebarMenu{
    transition: all 500ms ease-in-out;
    transform: translateX(0rem);
}


/* styling list icons */
ul>li{
    padding: 0.6rem;
    font-size: 0.8rem;
    border-bottom: 1px solid black;

    text-transform: uppercase;
}

ul>li:hover{

    border-radius: 1rem;
}

#addPost:checked  ~ #post_template{
    display: block;
} 


#post_template{
	display:none;
}

.postList_wrapper{
    width: 70%;
    margin: auto;
    padding:1rem;

    display: flex;
    flex-direction: column;
}

.post_wrapper{
    display: flex;
    flex-direction: column;

    margin:1rem;
    border: 1px solid black;
}

.post_wrapper>.title{
    background-color: lightblue;
    border: 1px solid black;
}


/* for small screen */
@media screen and (max-width:768px){
    .wrapper-lg{
        display: none;
    }
    .wrapper-sm{
        display: flex;
        
    }

    ul{
        margin:1rem;
        padding:1rem;
        width:13rem;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, rgba(105,9,121,1) 10%, white 91%);
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        height: 100vh;
    }

    .header{
        background-color: white;
    }
    
    footer{
        background-color: rgba(105,9,121,1);
    }
}

/* for Large Screen */
@media only screen and (min-width:768px){
    .wrapper-sm{
        display: none;
    }

    .wrapper-lg{
     display: flex;  
    }


    /* Navbar list */
    ul{
        list-style: none;
        display: flex;
    }

    .container{
        display: flex;
        flex-direction: row;
        background: linear-gradient(0deg, rgba(0,103,179,1) 10%, white 101%);
        justify-content: space-evenly;
        align-items: center;
        height:100%;
    }
    .header{
        background: white;
    }
    footer{
        background: rgb(0, 103, 179);
    }
}
